.slick-slider, .slick-list {
    height: 100% !important;
}

.slick-track {
    height: inherit;
}

.slick-slide img {
    height: inherit;
    width: 100%;
}

.slick-dots li.slick-active button:before {
    color: #38ACA6
}

.slick-dots li button:before {
    font-size: 12px;
    color: #38ACA6;
}

hr {
    width: 60px;
    border-top: 2px solid #6fb048;
    margin-top: 10px;
    margin-bottom: 30px;
}

body {
    color: #E7E7E7;
}

a, a:hover {
    text-decoration: none;
}
