@font-face {
    font-family: NanumBarunGothic;
    src: url("../font/NanumBarunGothic.eot"), url("../font/NanumBarunGothic.ttf"), url("../font/NanumBarunGothic.woff"), url("../font/NanumBarunGothic.woff2")
}

@font-face {
    font-family: NanumBarunGothicBold;
    src: url("../font/NanumBarunGothicBold.eot"), url("../font/NanumBarunGothicBold.ttf"), url("../font/NanumBarunGothicBold.woff"), url("../font/NanumBarunGothicBold.woff2")
}

@font-face {
    font-family: NanumBarunGothicUltraLight;
    src: url("../font/NanumBarunGothicUltraLight.eot"), url("../font/NanumBarunGothicUltraLight.ttf"), url("../font/NanumBarunGothicUltraLight.woff"), url("../font/NanumBarunGothicUltraLight.woff2")
}

.slick-slider, .slick-list {
    height: 100% !important;
}

.slick-track {
    height: inherit;
}

.slick-slide img {
    height: inherit;
    width: 100%;
}

.slick-dots {
    bottom: 0px;
    background: #FAF9F4;
}

body {
    font-family: 'NanumBarunGothicBold';
    color: #E7E7E7;
}

a, a:hover {
    text-decoration: none;
}
